In [38]:
johdanto = "1. johdanto"
print(johdanto.upper())
print("")
print("Tervetuloa opiskelijan Joonas Ranta TIJO.222 -kurssin oppimispäiväkirjaan")

import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

1. JOHDANTO

Tervetuloa opiskelijan Joonas Ranta TIJO.222 -kurssin oppimispäiväkirjaan

Tämän oppimispäiväkirja toteutetaan osana kurssin TIJO.222 - Johdanto datatieteeseen suoritusvaatimuksia. Kyseisessä oppimispäiväkirjassa tarkastellaan kurssilla käsiteltäviä aihealueita, reflektoiden niitä kokemuksiini aikaisemmista opinnoista sekä työelämästä. Oppimispäiväkirjat ovat itselleni tuttu tapa toteuttaa oppimista ja koenkin, että nämä soveltuvat itselleni tenttejä paremmin, koska pääsen analysoimaan kurssin ilmiöitä syvemmin, mitä tenttiin lukiessa tulisi tehtyä ja täten saan taattua laadukkaan oppimisprosessin.

Tulen tilintarkastuksen ja arvioinnin maisteriohjelmasta, joten luen informaatioanalytiikan opintokokonaisuutta sivuaineena. Tietojohtamista olen lukenut jonkin aikaa ja teoriatasolla koen omaavani ymmärrystä esimerkiksi tietojohtamisen prosesseista sekä toteutuksesta.  Opintojen painottuessa teoriaan, on kuitenkin käytännön datan käsittely sekä analytiikka jäänyt vähemmälle painoarvolle. Olen kuitenkin ollut aina kiinnostunut aiheesta ja tavoitteenani on päästä syventymään aiheeseen, kun saan gradun kesän aikana valmiiksi. Omatoimista syventämistä on rajoittanut myös useamman vuoden kestänyt työskentely opintojen ohella, joten käytettävissä oleva aika on ollut rajallista. Tämä tuo myös itselleni mielenkiintoisen, mutta varmasti myös haasteellisen lähtökohdan kurssille, koska edellisistä koodausharjoituksista on tullut kuluneeksi muutama vuosi. Koska tämän seurauksena suurin osa kurssilla käytävästä käytännön koodista on itselleni uutta, pyritään esimerkkikoodina oppimispäiväkirjassa esittämään itselleni mielenkiintoisimpia sekä mahdollisesti hyödyllisimpiä osuuksia. Oppimispäiväkirjassa hyödynnettävä materiaali tulee painottumaan kurssilla käytettävään materiaaliin sekä  demosessioihin. Tarkoituksena on kuitenkin hyödyntää erillistä materiaalia, joka avulla oppimiskokemusta voidaan laajentaa. Oppimistavoitteenani on syventää käytännönosaamista datatieteen parissa - etenkin oppia mahdollisuuksia aineiston käsittelyyn. Koska asun tällä hetkellä Helsingissä, on koko kurssi toteutettu etäsuorituksena. Selkeyden vuoksi esimerkkikoodeissa käytetään
tarvittaessa vastaavaa dataa kuin demosessioissa.

In [36]:
kpl2 = "2. Ensimmäinen viikko - datatiede käytännössä"
print(kpl2.upper())
print("")

2. ENSIMMÄINEN VIIKKO - DATATIEDE KÄYTÄNNÖSSÄ

In [ ]:
Datatiede voidaan nähdä hyvin moninaisena käsitteenä, jossa yhdistyy liiketoimintaosaaminen, ohjelmointiosaaminen, 
tilastollinen analyysi sekä visualisointi. Datatiede mahdollistaa aineistojen käsittelemisen, joita on lähes 
mahdontoa ihmisaivojen itsessään prosessoida. Isot aineistot luonnollisesti tuovat erinäisiä mahdollisuuksia. 
Datatieteessä keskeistä onkin kysyä aineistolta kysymyksiä, jopa mahdollisesti kysymään asioita, joita emme vielä
tiedä. Tämä näyttäytyykin erinomaisena mahdollisuuten luoda uusia mahdollisuuksia ja ratkaisuja ongelmiin, joiden 
olemassaoloa emme ole vielä tunnistaneet. Tämä toisaalta tuo datatieteeseen myös inhimillisen näkökulman. Data on 
aina ihmisen tuottamaa. Toistaalta tämä näyttäytyi myös itselleni uutena ajattelutapana. Lähtökohtaisesti 
työnkuvassani olen analytiikan avulla pyrkinyt löytämään asioita, jotka a) tiedetään ilmenevän aineistossa tai
b) oletetaan ilmenevän aineistossa. Tämä toisaalta tuo datatieteeseen myös inhimillisen näkökulman. Data on aina
ihmisen tuottamaa

Toisena uutena asiana ensimmäisellä viikolla tuli kurssilla käytetyt ympäristöt. Muun muassa GitHub ja Jupyter 
Notebook vaikuttavat ohjelmistoilta, joita tulen mahdollisesti myös itse hyödyntämään tulevaisuudessa.
Myös Terminalin tehokkaaseempaan hyödyntämiseen haluan perehtyä.

Ensimmäisen demosessiona haasteena tuli heti alkuun sovelluksien asentaminen. Kuten aikaisemmin sanoin on
edellisistä koodausharjoituksista jonkin aikaa. Pienten alkuvaikeuksien jälkeen oikeat versiot saatiin toimimaan,
kun: 
    
#pip install
tilalle vaihdettiin
#pip3 install

In [44]:
#Viikko 1: Esimerkkikoodi
#Perustelu: Laajasta aineistosta haluttujen elementtien poimiminen sekä näiden muodostaminen uudeksi listaksi tai 
#aineistoksi on keskeistä datan käsittelyssä.
df = pd.read_csv('https://github.com/jodatut/2020/raw/master/koodiesimerkit/SalesJan2009.csv')

#df.loc[:,] mahdollistaa ottaa alkuperäisestä datasta kaikki rivit joista se valitsee pricen ja halutun 
#payment typen Filtteröidään pois, jotka ei vastaa kriteereihin.
amex = df.loc[:,['Price','Payment_Type']]
amex = amex[ amex['Payment_Type'] == 'Amex' ]
mc = df.loc[:,['Price','Payment_Type']]
mc = mc[mc['Payment_Type'] == 'Mastercard']

#luodaan lista ja yhdistetään yllä aineistosta kerätty data listaan
payment_list = [amex, mc]
payment_list_concat = pd.concat([amex, mc,], keys={'amex': amex,
                                                          'mc': mc})
payment_list_concat

          Price Payment_Type
amex 11    1200         Amex
     35    1200         Amex
     39    3600         Amex
     40    3600         Amex
     44    1200         Amex
...         ...          ...
mc   987   3600   Mastercard
     988   3600   Mastercard
     989   1200   Mastercard
     991   1200   Mastercard
     998   1200   Mastercard

[388 rows x 2 columns]

In [ ]:
lähteet = "lähteet"
print(lähteet.upper())
print("")